#home {
    text-align: left;
    background-color:black;
    

}

#home li {
    display: inline-block;
    padding: 10px;
    

}

#home a:link, a:visited{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
}

#home a:hover, a:active {
    background-color: white;
    color: black;
}