#navbar {
    text-align: left;
    background-color:#374247;
    

}

#navbar li {
    display: inline-block;
    padding: 10px;
    

}

#navbar a:link, a:visited{
    color: #bbc8ce;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
}

a:hover, a:active {
    background-color: #bbc8ce;
    color: #374247;
}